@import url('https://fonts.googleapis.com/css?family=Monda');


/* timetable styles */

/* tab functionality */

main .right-buttons {
  float: right;
}

main .right-buttons a, .right-buttons a:hover, .right-buttons a:visited {
  text-decoration: none;
  color: #fff;
  border: 4px solid #ff523f;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  transition: 0.2s;
  margin: 10px;
}

main .right-buttons a:hover {
  background: #ff523f !important;
  transition: 0.2s;
}

main {
  min-width: 290px;
  max-width: 1400px;
  padding: 20px;
  width: 95%;
  margin: 0 auto;
  /* background: #fff; */
}

main section {
  display: none;
  /* padding: 20px 0 0; */
  /* border-top: 1px solid #ddd; */
}

main label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.2s;
}

main input + label {
  color: #fff;
  border: 4px solid #ff523f;
  border-radius: 3px;
  margin: 10px;
}

main input:checked + label {
  color: #fff;
  border: 4px solid #ff523f;
  background: #ff523f;
  border-radius: 3px;
}

main input {
  display: none;
}

main label:hover {
  background: #ff523f;
  transition: 0.2s;
}

main #tab1:checked ~ #content1,
main #tab2:checked ~ #content2,
main #tab3:checked ~ #content3,
main #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 710px) {
  main label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  main label {
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 390px) {
  main label {
    font-size: 12px;
    padding: 10px;
  }
}






/* Mobile schedule styles */

main .small-schedule ul {
  list-style-type: none;
  max-width: 600px;
  min-width: 250px;
  width: 80%;
}

main .small-schedule ul li {
  border-bottom: 2px solid #fff;
  padding: 10px 20px;
}

main .add a, .add a:visited {
  background: #fff;
  color: #0f4a77;
  text-decoration: none;
  float: right;
  padding: 8px;
  border-radius: 3px;
  margin-top: -40px;
  transition: 0.2s;
}

main .add a:hover {
  color: #fff;
  background: #ff523f;
  transition: 0.2s;
}

@media (max-width: 520px) {
  main .add a, .add a:hover, .add a:visited {
    float: none;
  }
  main .small-schedule ul li {
    padding-bottom: 20px;
  }
  main .value {
    margin-bottom: 15px;
  }
}

/* hide small schedule for large screens and hide big schedule for small screens */

@media (max-width: 970px) {
  main .big-schedule {
    display: none;
  }
}

@media (min-width: 971px) {
  main .small-schedule {
    display: none;
  }
}

main {
  font-family: 'Monda';
}

.schedule-container main {
  background: #0f4a77;
  color: #fff;
}

main .real.timetable.active {
    opacity: 1;
    height: auto;
}

main .real.timetable.active, .real.timetableSmall.active {
    opacity: 1;
    height: auto;
}
main .real.timetable {
    opacity: 0;
    height: 0;
    transition: ease opacity 0.5s, ease height 0s 0.5s;
    -webkit-transition: ease opacity 0.5s, ease height 0s 0.5s;
}
main .real.timetable, .real.timetableSmall {
    opacity: 0;
    height: 0;
    transition: ease opacity 0.5s, ease height 0s 0.5s;
    -webkit-transition: ease opacity 0.5s, ease height 0s 0.5s;
}
main .timetable {
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    /* box-shadow: 0px 4px 12px rgba(0,0,0,0.5); */
}

main table.tt_timetable {
    width: 100%;
    margin: 0px;
    border: none;
    letter-spacing: normal;
    line-height: normal;
    border-collapse: separate !important;
    /* border-spacing: 1px 0px !important; */
    background: transparent;
    font-weight: normal;
}
main table {
    width: 100%;
    margin: 1em 0;
    table-layout: fixed;
    border-collapse: collapse;
    /* border-spacing: 0; */
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
main table {
    border-collapse: collapse;
    /* border-spacing: 0; */
}

main table {
    display: table;
    border-collapse: separate;
    /* border-spacing: 2px; */
    border-color: grey;
}

main th {
  font-size: 24px;
}

main .tt_timetable .row_gray {
    background-color: transparent;
}

main .tt_timetable td.tt_hours_column, .tt_timetable th.tt_hours_column {
    width: 10%;
}

main .tt_timetable th {
    padding: 15px 15px 17px;
    letter-spacing: normal;
    background: transparent;
    text-transform: uppercase;
}
main .tt_timetable th, .tt_timetable td.tt_hours_column {
    text-align: center;
    vertical-align: middle;
}
main .tt_timetable th, .tt_timetable td {
    font-weight: normal;
    line-height: normal;
    color: #ffffff;
    width: 18%;
    vertical-align: top !important;
    text-transform: none;
    border: none !important;
}

main .tt_timetable th {
    padding: 15px 15px 17px;
    letter-spacing: normal;
    background: transparent;
    text-transform: uppercase;
}
main .tt_timetable th, .tt_timetable td.tt_hours_column {
    text-align: center;
    vertical-align: middle;
}
main .tt_timetable th, .tt_timetable td {
    font-weight: normal;
    line-height: normal;
    color: #ffffff;
    width: 18%;
    vertical-align: top !important;
    text-transform: none;
    border: none !important;
}


main tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

main .tt_timetable .row_gray {
    background-color: transparent;
}

main .tt_timetable td.tt_hours_column {
    font-weight: normal;
}
main .tt_timetable th, .tt_timetable td.tt_hours_column {
    text-align: center;
    vertical-align: middle;
}
main .tt_timetable td.tt_hours_column, .tt_timetable th.tt_hours_column {
    width: 10%;
}

main .tt_timetable td {
    /* vertical-align: middle !important; */
    height: 26px;
    border: none;
    padding: 0;
    /* height: 100px; */
    border-top: 1px #ffffff solid;
}
main .tt_timetable th, .tt_timetable td {
    font-weight: normal;
    line-height: normal;
    color: #ffffff;
    width: 18%;
    /* vertical-align: top !important; */

    text-transform: none;
    border: none !important;
}


/* center table data + add to my timetable overlay text */

/* shows that last a half hour */

main .event[rowspan="2"] .td-inner {
  margin-top: -35px;
}

main .event[rowspan="2"] .event-overlay {
  margin-top: 10px;
}

/* shows that last forty five minutes */

main .event[rowspan="3"] .td-inner {
  margin-top: -35px;
}

main .event[rowspan="3"] .event-overlay {
  margin-top: 30px;
}

/* shows that last one hour */

main .event[rowspan="4"] .td-inner {
  margin-top: -30px;
}

main .event[rowspan="4"] .event-overlay {
  margin-top: 40px;
}

/* shows that last an hour and a half */

main .event[rowspan="6"] .td-inner {
  margin-top: -30px;
}

main .event[rowspan="6"] .event-overlay {
  margin-top: 70px;
}

/* shows that last two hours */

main .event[rowspan="8"] .td-inner {
  margin-top: -30px;
}

main .event[rowspan="8"] .event-overlay {
  margin-top: 100px;
}


/* Mine */


main table {
  border-spacing: 8px !important;
}

main .event {
  outline: 2px solid #fff;
  transition: 0.2s;
  text-align: center;
}

main .event-overlay {
  opacity: 0;
  transition: 0.2s;
}

main .event-overlay a, .event-overlay a:visited, .event-overlay a:hover {
  color: #0f4a77;
  font-family: 'Monda', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
}

main .event:hover {
  background: #fff;
  transition: 0.2s;
}

main .event:hover .td-inner {
  opacity: 0;
}

main .event:hover .event-overlay {
  opacity: 1;
  transition: 0.2s;
}

main .event:hover .relative {
  visibility: hidden;
}

main .small-schedule ul {
	list-style-type: none !important;
}

@media (max-width: 1100px) {
  main label {
    font-size: 12px;
  }
  main .right-buttons a, .right-buttons a:hover, .right-buttons a:visited {
    font-size: 12px;
  }
}

@media (max-width: 896px) {
  main .right-buttons {
    float: none;
  }
}

@media (max-width: 415px) {
  main .right-buttons a {
    padding: 10px;
  }
}

main .small-schedule .mobile-schedule-list {
	list-style-type: none !important;
}

.small-schedule h3 {
 margin-top: 40px;
}

@media (max-width: 1072px) {
	main .event-overlay a {
		font-size: 12px !important;
	}
}
